@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #ff6450;
    --color-base: #0a0a0a;
    --color-gray-light: #f3f4f6;
  }

  * {
    @apply border-gray-light/20;
  }

  html,
  body {
    width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  body {
    @apply bg-[#F3F4F6] text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
